/* general */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

img {
    margin: 0 auto;
    width: 300px;
}

body {
    overflow: hidden;
    background-color: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
}

#container {
    margin: 10px;
    text-align: center;
}

#question {
    display: none;
}

#ok {
    position: absolute;
    margin-left: 175px;
}

#language {
    display: none;
}


/* page */

.page {
    padding: 10px;
    border: 1px solid;
    color: white;
    width: 400px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: none;
    margin-top: -200px;
    border-radius: 2px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.44);
}

.page-active {
    display: block;
}

.page-home {

}

/* page colors */

.page-indigo {
    background: #9b59b6;
    border-color: #8e44ad;
}

.page-blue {
    background: #3498db;
    border-color: #2980b9;
}

.page-green {
    background: #118B04;
}

.page-red {
    background: #e74c3c;
    border-color: #c0392b;
}

.page-home {
    text-align: center;
    width: 700px;
}
/* limit textboxes */

#lim-min, #lim-max {
    width: 55px;
    height: 30px;
}

/* question page */

#intervalContainer {
    border: 1px solid #2980b9;
    background: white;
    height: 20px;
    margin-top: 10px;
    border-radius: 4px;
}

#interval {
    height: 20px;
    background: #2ecc71;
    width: auto;
    border-radius: 3px;
}

.progress {
    margin-top: 20px;
    border: 1px solid #2980b9;
}

#reset {
    display:none;
}
